<div class="containerrr">

<div class="losrows">
<div class="mt-auto" style="height: 200px;"></div>

<div class="roww">
<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
</div>

<div class="roww">
   <label> Password
      <input type="password" name="password">
   </label>
</div>

<div class="roww">
   
   <button type="submit" class="btn btn-outline-secondary">Submit</button>
 </div>
 </form>

</div>

{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}




   
