<h1>ABOUT US</h1>
<div class="picAbout">
</div>
<p>
Solo somos un par de chicos que están tratando de dar un giro a su carrera profesional, pero mientras tanto, nos gusta disfrutar de las pequeñas cosas de la vida. Una de nuestras pasiones compartidas es la música, y en este proyecto hemos querido mostraros una pequeña selección de los festivales más importantes a nivel internacional.
</p>
<p><i>
“ Me considero una persona con un carácter muy tranquilo, y a la vez me encanta la sensación de vivir con un ritmo de vida intenso todos los días. Mi pasión por la música electrónica nace durante mi adolescencia y ahora cada vez que estoy a un festival es como volver a esa época. “
</i>
Eric R.
</p>

<p><i>
“ Me chingo 20 “
</i>
Pendejo
</p>
{{!-- <img src="images/aboutus.jpg" alt="about us"> --}}