<h1>ABOUT US</h1>

<div class="card mb-3 card border-0" style="max-width: 1200px;">
  <div class="row g-0">
    <div class="col-md-4">
         
            <img src="images/aboutus.jpg"" class="img-fluid rounded-start" alt=" alt="aboutus"/>
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <p class="card-text">we are just some guys who are trying to make a change in our profesional careers, meanwhile we like to enjoy small things in life. One of the things we enjoy the most is music, in this proyect we wanted to show a small selection of some of the best electronic music festivals around the world.</p>
        <p class="card-text"><i>
          "i consider myself as a very chill person but at the same time i love to have a very busy life every day, my passion for the music started when i was a teenager and now every time when im in a festival its like going back to those times"</i> Eric R.</p>
   
    </div>
  </div>
</div>
</div>


{{!-- we are just some guys who are trying to make a change in our profesional careers, meanwhile we like to enjoy small things in life. One of the things we enjoy the most is music, in this proyect we wanted to show a small selection of some of the best electronic music festivals around the world.
"i consider myself as a very chill person but at the same time i love to have a very busy life every day, my passion for the music started when i was a teenager and now every time when im in a festival its like going back to those times" --}}