
<div class="mainPic">


  <div class="centrado">
<img class="mainlogo" src="../images/logoapp.png" alt="logo">
</div>


<div class="titMain">
<h1>IRON FESTIVAL</h1>
</div>

<div class="parrMain">
<p> IN THIS PAGE YOU WILL BE ABLE TO FIND THE BEST ELECTRONIC MUSIC FESTIVALS IN THE WORLD AND YOU CAN SAVE YOUR FAVORITE ONES, JOIN FOR FREE NOW!</p>
</div>


  <audio controls autoplay loop>
<source src="../images/noeyes.mp3" type="audio/mpeg">
</audio>
</div>
