
<div class="mainPic">


  <div class="centrado">
<img class="mainlogo" src="../images/logoapp.png" alt="logo">
</div>


<div class="titMain">
<h1>IRON FESTIVAL</h1>
</div>

<div class="parrMain">
<p>Hola, estas son las instrucciones para el funcionamiento de la página</p>
</div>


  <audio controls autoplay loop>
<source src="../images/noeyes.mp3" type="audio/mpeg">
</audio>
</div>
