

{{!-- <audio controls autoplay src="festivals/noeyes.mp3"> --}}

</audio>
<div class="mainPic">
<h4 class="lorem">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad eaque, dolores quo accusamus architecto amet perferendis? Quidem, ullam corporis debitis rerum et natus, animi nesciunt excepturi fugiat, ex recusandae ipsam.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet vero rerum, sunt dolorem, veniam quis omnis id suscipit, inventore tenetur aliquid cum quae molestiae natus aspernatur. Ea cum ex in!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum voluptatem iusto vero accusantium itaque eius. Dignissimos, earum quas? Corporis, sunt quod. Aliquid hic voluptatum qui adipisci sint quasi ipsam similique?
</h4>
</div>