

{{!-- <audio controls autoplay src="festivals/noeyes.mp3"> --}}

{{!-- </audio>
<div class="mainPic">
<h4 class="lorem">
    IRON FESTIVAL
</h4>
</div> --}}

<div class="mainPic">
  <div class="centrado"><h4>IRON FESTIVAL</h4></div>
</div>