<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap" rel="stylesheet">


      <title>{{title}}</title>
      <!-- CSS only -->
 <link
      href="https://www.behance.net/gallery/68485419/FAME-Magazine/modules/400477047"
      rel="stylesheet"
    />


      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css" /> 
      {{!-- <link rel="stylesheet" href="src/style.css" /> --}}
   </head>

   <body class="lorem">
     {{!-- <video class="video" src="../Concerting.mp4" autoplay="true" muted="true" loop="true"></video> --}}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
      
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/festivals">Festivals</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="/auth/signup">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/aboutus">About Us</a>
              </li>
                <li class="nav-item right">
                <a class="nav-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-end" viewBox="0 0 16 16">
  <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.713 3.31 4 3.655 4 4.308v7.384c0 .653.713.998 1.233.696L11.5 8.752V12a.5.5 0 0 0 1 0V4zM5 4.633 10.804 8 5 11.367V4.633z"/>
</svg></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {{{body}}}
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      <script src="/js/script.js"></script>
   </body>

</html>

<!--
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 -->