body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  font-family: comic sans-serif;
  background-color: lightgray;
  font-size: large;
}

.error {
  color: red;
}

.mainPic{
  background-image: url("../images/mainpic.jpeg");
  width: 100%;
    height: 1100px;
    justify-content: center;
}

/* .video {
  width: 800px;
  height: 800px;
} */
