body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  
  font-family: comic sans-serif;
 background-color: black;
 font-size: large;
}


.error{
  color: red;
}

.mainPic{
  background-image: url("../images/mainpic.jpeg");
  width: 500px;
  height: 500px;
}