body {
  font-family: 'Bungee Hairline', cursive;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0;
}

a {
  color: black;
}

h1 {
  font-size: 55px;
  text-align: center;
}
h2 {
  margin-bottom: .5em;
  font-size: 40px;
}

.error {
  color: red;
  font-family: mintage;
}

.mainPic{
  background-image: url("../images/mainpic.jpeg");
  width: 100%;
    height: 1100px;
    justify-content: center;
    margin-top: 0px;
   
}

/* .video {
  width: 800px;
  height: 800px;
} */

img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.location-listing {
  position: relative;
  color: aliceblue;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.5s ease-in;
  transform: scale(1.1);

}

.location-title {
  font-size: 5em;
  font-weight: bolder;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .10s;
  background: rgba(255, 0, 0, 0);
  color: white;
  
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
  color: lightgrey;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}

.container{
  margin-top: 80px;
  font-family: 'Bungee Hairline', cursive;
}

.mar {
  margin-right: -25px;
  font-family: 'Bungee Hairline', cursive;
}

h4{
  font-size: 40px;
  text-align: center;
  color: gray;
}

.welcome{
  margin-top: 20px;
}

.lorem{
font-family: 'Bungee Hairline', cursive;
font-weight: bold;
color: black;
margin-top: 25px;


}
.logout{
display: flex;
text-align:right;

}

.picAbout {
  height: 550px;
  width: 350px;
  margin-top: 20px;
 }

 .centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold;
  color: black;
  margin-top: 120px;
  
}

.logo{
height: 40px;
width: 50px;

}

.loginn{
background-image: url("../images/login.jpeg");
  width: 100%;
    height: 800px;
   
    margin-top: 20px;
    color: lightgray;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: stretch;
    
}

.mainlogo{
width: 270px;
height: 220px;
}

/* /.containerr{
  position: relative;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;

} */

.containerr video {
  z-index: -1; 
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%; 
   top:50%;
  left: 50%; 
   transform: translate(-50%, 50%);
} 
 .containerr{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
flex-direction: column;
margin-top: 0px;
 }

 .titMain{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: black;
  margin-top: 180px;
 }

 .parrMain{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: 480px;
 }